node_modules
dist
storage/*.db
storage/memory-garden.json
storage/uploads
.env
.DS_Store
*.tsbuildinfo
**/xcuserdata/
*.xcuserstate
.swiftpm/
DerivedData/
*.xcarchive
storage/uploads/incoming

# wrangler files
.wrangler
.wrangler-test
.dev.vars*
!.dev.vars.example
!.env.example
